<div class="m-3 p-3">
  <h3>To watch list:</h3>
  <ng-container *ngIf="!loading; else loadingSpinner">
    <div *ngFor="let movie of movies" class="border border-dark mt-3 p-3 col-6">
      <p><strong>{{ movie.name }}</strong></p>&nbsp;
        <button
          *ngIf="!loadingDelete; else loadingSpinnerDelete"
          class="btn btn-danger"
          (click)="delete(movie)"
        >Delete
        </button>
      <ng-template #loadingSpinnerDelete>
        <div *ngIf="loadingDelete" class="spinner-border">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>

    </div>
  </ng-container>

  <ng-template #loadingSpinner>
    <div *ngIf="loading" class="spinner-border">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
