<div class="row m-3 p-3 border border-dark">
  <div class="col-9">
    <h3>Add new movie</h3>

    <form (ngSubmit)="addMovie()">
      <div class="form-group">
        <label for="name">Movie name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          #nameInput
        />
      </div>

      <ng-container *ngIf="!loading; else loadingSpinner">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="loading"
        >Add
        </button>
      </ng-container>

      <ng-template #loadingSpinner>
        <div *ngIf="loading" class="spinner-border">
          <span class="sr-only">Loading...</span>
        </div>
      </ng-template>
    </form>
  </div>
</div>
